
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #C1E1C1;
}

h1 {
  color: #4F7942;
  font-size: 50px;
}

p {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

#titleDescription {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20vw;
  margin-top: 5vh;
}

h2 {
  clear: both;
}

em {
  font-weight: bold;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

header,
footer {
  clear: both;
}

#webcamButton {
  background-color: #4F7942;
  width: 40vw;
  margin-left: 30vw;
  height: 5vh;
  border-radius: 20px;
}

#output_canvas {
  justify-content: center;
  width: 50vw;
  margin-left: 25vw;
}

#webcam {
  justify-content: center;
  width: 50vw;
  margin-left: 25vw;
  margin-top: 5vh;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.note {
  font-style: italic;
  font-size: 130%;
}

.videoView,
.detectOnClick {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.videoView p,
.detectOnClick p {
  position: absolute;
  padding: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}



.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.detectOnClick {
  z-index: 0;
}

.detectOnClick img {
  width: 100%;
}